NEXTAUTH_SECRET=skander_spare_parts_super_secret_jwt_key_2026_xyz
NEXTAUTH_URL=http://localhost:3000

# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/bikesoftware?retryWrites=true&w=majority
